In [1]:
import pandas as pd 
import pyproj
from pyproj import transform
from pyproj import Proj

csv_path = "gis/grid_1500.csv"
grid = pd.read_csv(csv_path)

grid.head()

,wkt_geom,id,xmin,xmax,ymin,ymax,lat_min,lat_max,lng_min,lng_max
0,Polygon ((200045.68498155265115201 467198.6144...,14,200081.7135,201581.7135,465806.6999,467306.6999,NaN,NaN,NaN,NaN
1,Polygon ((201545.68498155265115201 467198.6144...,15,201581.7135,203081.7135,465806.6999,467306.6999,NaN,NaN,NaN,NaN
2,Polygon ((203045.68498155265115201 467198.6144...,16,203081.7135,204581.7135,465806.6999,467306.6999,NaN,NaN,NaN,NaN
3,Polygon ((204545.68498155265115201 467198.6144...,17,204581.7135,206081.7135,465806.6999,467306.6999,NaN,NaN,NaN,NaN
4,Polygon ((206045.68498155265115201 467198.6144...,18,206081.7135,207581.7135,465806.6999,467306.6999,NaN,NaN,NaN,NaN

In [2]:
WGS84 = { 'proj':'latlong', 'datum':'WGS84', 'ellps':'WGS84', }

UTMK = {'proj':'tmerc', 'lat_0':'38N', 'lon_0':'127E', 'ellps':'GRS80',
   'x_0':'200000', 'y_0':'500000', 'k':'1',
   'towgs84':'-115.80,474.99,674.11,1.16,-2.31,-1.63,6.43'}

for i in grid.index:
    grid.loc[i,'lat_min'], grid.loc[i,'lng_min']=pyproj.transform(Proj(**UTMK), Proj(**WGS84), grid.loc[i,'xmin'], grid.loc[i,'ymin'])
    grid.loc[i,'lat_max'], grid.loc[i,'lng_max']=pyproj.transform(Proj(**UTMK), Proj(**WGS84), grid.loc[i,'xmax'], grid.loc[i,'ymax'])
    grid.loc[i,'lat_min']=round(grid.loc[i,'lat_min'],6)
    grid.loc[i,'lng_min']=round(grid.loc[i,'lng_min'],6)
    grid.loc[i,'lat_max']=round(grid.loc[i,'lat_max'],6)
    grid.loc[i,'lng_max']=round(grid.loc[i,'lng_max'],6)

grid.head()

,wkt_geom,id,xmin,xmax,ymin,ymax,lat_min,lat_max,lng_min,lng_max
0,Polygon ((200045.68498155265115201 467198.6144...,14,200081.7135,201581.7135,465806.6999,467306.6999,126.998823,127.015832,37.694136,37.707648
1,Polygon ((201545.68498155265115201 467198.6144...,15,201581.7135,203081.7135,465806.6999,467306.6999,127.015829,127.032841,37.694135,37.707644
2,Polygon ((203045.68498155265115201 467198.6144...,16,203081.7135,204581.7135,465806.6999,467306.6999,127.032835,127.049849,37.694131,37.707638
3,Polygon ((204545.68498155265115201 467198.6144...,17,204581.7135,206081.7135,465806.6999,467306.6999,127.049840,127.066858,37.694125,37.707630
4,Polygon ((206045.68498155265115201 467198.6144...,18,206081.7135,207581.7135,465806.6999,467306.6999,127.066846,127.083867,37.694117,37.707619

In [5]:
grid[grid['id']==354]

,wkt_geom,id,xmin,xmax,ymin,ymax,lat_min,lat_max,lng_min,lng_max
211,Polygon ((203045.68498155265115201 447698.6144...,354,203081.7135,204581.7135,446306.6999,447806.6999,127.032754,127.049729,37.51846,37.531967

In [4]:
grid.to_csv('data/grid1.csv')

In [10]:
grid.index

RangeIndex(start=0, stop=329, step=1)

In [ ]:
"https://store.naver.com/restaurants/list?bounds=126.947954%3B37.477913%3B126.964904%3B37.491433&filterId=r09680&query=%EB%A7%9B%EC%A7%91"